<!DOCTYPE html>
<html lang="es">
<head>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" href="../static/css/bootstrap.css">
    <script th:src="@{/js/jquery.js}" src="../static/js/jquery.js"></script>
    <script th:src="@{/js/bootstrap.js}" src="../static/js/bootstrap.js"></script>
    <meta charset="UTF-8">
    <title>Curso de Spring Boot</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Spring Boot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" th:href="@{/}"href="#">Inicio <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Galeria</a>
            <a class="nav-item nav-link" href="#">Post</a>

        </div>
    </div>
</nav>
<div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<div class="container">
    <div class="row">
        <div th:each ="post:${posts}"class="col-3">
            <div class="card" style="width: 18rem;">
                <img th:src="${post.urlImg}" src="../static/img/post.jpg" class="card"  alt="...">
                <div class="card-body">
                    <h5 th:text="${post.titulo}" class="card-title">Card title</h5>
                    <p th:text="${post.descripcion}"class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>

    </div>
    <nav aria-label="Page navigation example" >
        <ul class="pagination justify-content-center  mt-5">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>